.Select_Technician_Type {
width: 100px;
}

.w3-container
{

  padding-top: 30px;
  background-color: #F4F6F6;
}


.Class_Select, .Class_Input
{
  position: center;
  text-align: left;
}

label{
    display: inline-block;
    width: 250px;
}

header, .full-width {
  width: 100%;
  background: #white;
  top: 0;
  left:0;
}

.wrap {
  width: 80%;
  max-width: 24em;
  margin: 0 auto;
  padding: 0.25em 0.625em;
}

h1 {
  display:block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15%;
  font-family: 'Source Sans Pro',;
  border-bottom: solid black;
  border-top: solid black;
}

h2 {
     margin-top: 5px;
     margin-bottom: 5px;
     /* color: #black;
     padding: 5px;
     font-family: 12px, 'Source Sans Pro', cursive;
     font-size: 20px; */
}

p {
  padding-left: 10px;
  padding-bottom: 10px;
}

.row {
     /* text-align:center; */
     width: auto;
}
.block {
     vertical-align: top;
     display: inline-block;
     width: 25%;
}

body {
	background-color:  white;
	font: 16px 'SourceSansPro'; color: #black ; line-height: 20px;
	padding-left: 0px;
     box-sizing: border-box;
}

.textbox{
     padding-top: 5px;
}
